version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: ranksheet-dev-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "54321:5432"
    volumes:
      - ranksheet_dev_pg:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: ranksheet-dev-redis
    restart: unless-stopped
    command: >
      redis-server
      --appendonly yes
      --appendfilename "appendonly.aof"
      --auto-aof-rewrite-percentage 100
      --auto-aof-rewrite-min-size 64mb
      --save 900 1
      --save 300 10
      --save 60 10000
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
    ports:
      - "6379:6379"
    volumes:
      - ranksheet_dev_redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

volumes:
  ranksheet_dev_pg: {}
  ranksheet_dev_redis: {}

